// Font-size
$fs-xxs: 14px;
$fs-xs: 16px;
$fs-s: 18px;
$fs-m: 24px;
$fs-l: 30px;
$fs-xl: 45px;
$fs-xxl: 56px;
$fs-xxxl: 64px;

// Font-weight
$fw-regular: 400;
$fw-bold: 700;
$fw-xxbold: 800;

// Colors
$color-primary: #EE6F3E;
$color-text: #151515;
$color-white: #ffffff;
$color-grey: #f7f7f7;
$color-dark-grey: #c2c2c2;

$transition: 0.3s;

// Breakpoints
$breakpoints: (
  xs: 400px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
