

.carousel {
  border-bottom: 2px solid $color-grey;
  overflow: hidden;

  &__container {
    padding-top: 90px;
    padding-bottom: 90px;
    opacity: 0;
    transform: translateX(100%);
    transition: 1s;
  }

  &__list {
    @extend %list;

    display: flex;
    justify-content: space-between;
    width: 100vw;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 50px;
    text-align: center;
    transition: $transition;

    &:before {
      margin-bottom: 10px;
      font-size: $fs-xxl;
      transition: transform $transition;
    }

    &:hover {
      color: $color-primary;
      transform: scale(1.5);
    }

    i {
      font-size: $fs-xxl;

      &.fa-terminal,
      &.fa-java      
      {
        font-size: $fs-xxl;
      }
    }
  }
}

// swiper
.swiper-wrapper {
  transition-timing-function: linear !important;
}



