.example {
  text-align: center;

  &__title {
    opacity: 0;
    transform: translateY(100%);
    transition: 1.2s ease-in-out;
    position: relative;

    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      // transform: translateX(-50%);
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 40px;

    opacity: 0;
    transform: translateY(100%);
    transition: 1.2s ease-in-out 0.5s;

    &__link {
      color: $color-primary;
    }
  }

  &__list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include breakpoint-max(xl) {
      justify-content: center;
    }
  }

  &__item {
    $parent: &;
    flex-basis: 30%;
    margin-top: 50px;
    height: 320px;
    opacity: 0;
    transform: scale(0);
    transition: 1.2s ease-in-out;
    background-color: transparent;
    perspective: 1000px;


    &.scroll-item--active {
      transform: scale(1);
    }

    &:hover .example__card {
      transform: rotateY(180deg);
    }

    @include breakpoint-max(xl) {
      flex-basis: 32%;
      margin-right: 50px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @include breakpoint-max(lg) {
      flex-basis: 46%;
    }

    @include breakpoint-max(md) {
      flex-basis: 70%;
      margin-right: 0;
    }

    @include breakpoint-max(sm) {
      flex-basis: 80%;
    }

    @include breakpoint-max(xs) {
      flex-basis: 100%;
    }

    &:nth-of-type(1) #{$parent}-img {
      background-image: url('./../assets/img/wdm.png');
      background-position: top;
    }

    &:nth-of-type(2) #{$parent}-img {
      background-image: url('./../assets/img/payback.png');
      background-position: top;
    }

    &:nth-of-type(3) #{$parent}-img {
      background-image: url('./../assets/img/chargeback.png');
      background-position: top;
    }

    &:nth-of-type(4) #{$parent}-img {
      background-image: url('./../assets/img/tryUs.png');
      background-position: top;
    }

    &:nth-of-type(5) #{$parent}-img {
      background-image: url('./../assets/img/louvre.jpg');
      background-position: top;
    }

    &:nth-of-type(6) #{$parent}-img {
      background-image: url('./../assets/img/art-quiz.jpg');
    }

    &-img {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }

    &-back {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 1;
      padding: 10% 10%;
      transform-style: preserve-3d;
      overflow: hidden;
      transform: rotateY(180deg);
      background-color: $color-white;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;

      @include breakpoint-max(sm) {
        padding: 20% 5%;
        min-height: auto;
      }
    }
  }

  &__card {
    $parent: &;
    margin: 0;

    position: relative;
    width: 100%;
    height: 100%;
    // border: 1px solid $color-dark-grey;


    transition: transform 0.8s;
    transform-style: preserve-3d;



    &-title {
      color: $color-text;
      font-size: $fs-m;
      font-weight: 400;

      @include breakpoint-max(xs) {
        font-size: $fs-s;
      }
    }

    &-description {
      // flex-grow: 1;
      margin-top: 20px;
      margin-bottom: 25px;
      transition: 0.7s;
      color: $color-dark-grey;
      font-size: $fs-xs;

      @include breakpoint-max(xs) {
        font-size: $fs-xxs;
      }
    }

    &-link {
      display: inline-block;
      color: $color-text;
      font-size: $fs-xs;
      font-weight: $fw-regular;
      letter-spacing: 0.8px;
      transition: 0.5s;
      position: relative;

      @include breakpoint-max(xs) {
        font-size: $fs-xxs;
      }

      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: $color-primary;
        transition: .35s;
        z-index: -1;
      }

      &:hover {
        color: $color-white;
        text-shadow: 0 0 3px rgba(85, 87, 215, 0.2);

        &:before {
          width: 100%;
        }
      }
    }


  }
}
