.greeting {
  display: flex;
  align-items: center;
  min-height: 100vh;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include breakpoint-max(xl) {
      padding-left: 50px;
    }

    @include breakpoint-max(lg) {
      padding-left: 0;
    }

    @include breakpoint-max(sm) {
      max-width: 400px;
      padding-left: 20px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 35px;
    font-size: $fs-xxl;
    font-weight: $fw-bold;
    line-height: 1.2;
    opacity: 0;
    transform: translateX(-5%);
    transition: 1s ease-in-out;

    @include breakpoint-max(xl) {
      font-size: 45px;
    }

    @include breakpoint-max(lg) {
      font-size: 40px;
    }

    @include breakpoint-max(md) {
      font-size: 28px;
    }

    @include breakpoint-max(sm) {
      line-height: 1.5;
    }
  }

  &__btn {
    width: 220px;
    padding: 20px 30px;
    border: 2px solid $color-primary;
    border-radius: 0rem;
    color: black;
    font-size: $fs-s;
    font-weight: 700;
    letter-spacing: 0.25rem;
    position: relative;

    transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
    transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225);
    transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225),
                transform 1s ease-in-out 0.6s, 
                opacity 1.2s ease 0.6s,
                color 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
    transform: translateX(-30%);

    @include breakpoint-max(md) {
      font-size: $fs-xs;
      padding: 15px 23px;
      width: 200px;
    }

    .top  {
      position: relative;
      height: 10px;
      overflow: hidden;
      top: 0;
      transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */
      transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */
      transition-delay:0.35s;
      color: black;
      width: 100%;


      span {
        top: -5px;
        position: absolute;
        left: 0;
        @include breakpoint-max(md) {
          top: -3px;
        }
      }
    }
    
    .bottom  {
      position: relative;
      height: 10px;
      overflow: hidden;
      bottom: 0;      
      transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */    
      transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */          
      transition-delay: 0.35s;
      

      span {
        top: -15px;
        position: absolute;
        left: 0;
        @include breakpoint-max(md) {
          top: -13px;
        }
      }
    }
    &:hover .bottom {
      bottom: -4px;
      transition-delay:0.35s;
    }

    &:hover .top {
      top: -5px;
      transition-delay:0.35s;
    }

    &:hover, &:focus, &:active {
      margin-left: 10px;
    }
    
    &:before {
      content: '';
      height: 1px;
      width: 60px;
      background-color: $color-primary;
      position: absolute;
      margin-top: 9px;
      right: -35px;
      transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */
      transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */
    }
    &:hover:before{
      width: 130%;
    }
  }

}
